In [25]:
import numpy as np
import pandas as pd
import tensorflow as tf
import sklearn
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
print(tf.__version__)

1.15.0

In [6]:
tf.enable_eager_execution()

In [3]:
df = pd.read_csv('./input/train.csv')
X_train = df.drop('Class', axis=1)
y_train = df.Class

print(df.Class.value_counts())

0    181971
1       305
Name: Class, dtype: int64

In [20]:
sm = SMOTE(random_state=27)
X_train_smote, y_train_smote = sm.fit_sample(X_train, y_train)
X_SMOTE = pd.concat([pd.DataFrame(X_train_smote), pd.DataFrame({'Class':y_train_smote})], axis=1)
X_SMOTE_shuffle = sklearn.utils.shuffle(X_SMOTE)
X_SMOTE.Class.value_counts()

1    181971
0    181971
Name: Class, dtype: int64

In [15]:
y_train.value_counts()

0    181971
1       305
Name: Class, dtype: int64

In [16]:
y_train_smote.value_counts()

1    181971
0    181971
Name: Class, dtype: int64

In [22]:
X_SMOTE_shuffle.Class.value_counts()

1    181971
0    181971
Name: Class, dtype: int64

In [24]:
X_SMOTE_shuffle.to_csv('./input/train_smote.csv',index=False)

In [23]:
X_SMOTE_shuffle.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
160857,78523.000000,-0.211247,-0.359323,0.316123,-0.727440,-0.654204,-0.124680,0.971881,-0.230951,-1.343299,...,-0.237437,-0.416437,0.369174,-0.425008,-0.592840,1.084259,0.054005,0.177352,204.00000,0
97908,68774.000000,-0.472983,0.881706,1.402975,-0.267361,0.251483,0.066241,0.460843,0.289303,-0.504896,...,-0.180718,-0.499108,-0.036408,-0.351228,-0.283017,0.106709,0.272100,0.102105,2.58000,0
319096,68251.429450,-8.919957,8.836222,-6.650113,2.601689,-3.803551,3.948268,-13.409463,-26.288552,-0.305304,...,19.012563,-6.408017,3.736499,-0.242931,0.341415,-0.172183,0.917460,0.671652,6.50629,1
350796,12567.448778,-2.481833,6.930178,-13.515880,10.253644,-2.829354,-3.049943,-9.056761,3.257859,-5.548203,...,1.839459,0.325433,0.285295,-1.162800,-0.697059,0.626630,1.894077,0.770278,1.00000,1
39297,51801.000000,-0.495530,1.798624,-0.125454,0.817324,0.221709,-1.163084,0.920320,-0.113124,-0.372542,...,0.080654,0.691636,0.031205,0.424223,-0.565673,-0.436721,0.369905,0.068346,0.89000,0

In [6]:
X_SMOTE_shuffle.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
363937,95737.717232,-11.854459,9.109838,-14.021420,9.065093,-9.001483,-0.524310,-17.549463,-5.505316,-6.168353,...,-3.989258,1.138675,0.947893,0.173886,-1.763562,-0.484975,-1.864368,-0.208079,7.007031,1
363938,68978.651975,-3.874923,5.211347,-4.395745,2.469952,-1.275125,1.266027,-6.417428,-13.046201,-0.114586,...,9.279987,-3.689327,1.751417,-0.294168,0.526599,-0.267183,0.491041,0.402616,1.000000,1
363939,40975.098426,-2.682147,4.258520,-8.011558,4.839482,-5.390374,-3.532009,-9.574636,2.258924,-4.631976,...,2.006182,0.126158,-0.248727,0.385498,1.005833,-0.323391,2.241483,1.021233,1.884055,1
363940,76565.868901,-5.597151,3.470209,-6.180950,4.308222,-5.210090,-1.341205,-5.214086,2.669375,-2.915866,...,0.950489,-0.420674,-0.343738,0.198326,0.153115,-0.377735,-0.205948,0.462686,218.924829,1
363941,160725.653265,-0.530986,4.177864,-7.172959,6.451581,-0.678706,-2.474074,-3.086621,1.106802,-4.050634,...,0.754854,-0.109926,-0.014020,-0.537634,-0.226782,0.528704,0.641033,0.228980,34.095013,1