In [16]:
import tensorflow as tf
import numpy as np
print(tf.__version__)
tf.enable_eager_execution()

1.15.0

In [13]:
a = tf.feature_column.categorical_column_with_vocabulary_list('employeeId',
      vocabulary_list = ['aaa','bbb','ccc'])
b = tf.feature_column.categorical_column_with_identity('employeeId',
      num_buckets = 5)
c = tf.feature_column.categorical_column_with_hash_bucket('employeeId',
      hash_bucket_size = 10)
print(a)
print(b)
print(c)

VocabularyListCategoricalColumn(key='employeeId', vocabulary_list=('aaa', 'bbb', 'ccc'), dtype=tf.string, default_value=-1, num_oov_buckets=0)
IdentityCategoricalColumn(key='employeeId', number_buckets=5, default_value=None)
HashedCategoricalColumn(key='employeeId', hash_bucket_size=10, dtype=tf.string)

In [20]:
lat = tf.feature_column.numeric_column('latitude')
buckets = np.arange(32,42,1).tolist()
dlat = tf.feature_column.bucketized_column(lat, boundaries=buckets)

In [23]:
clip_by_value = tf.clip_by_value([1,0.3,-10,0,2,0.4,6,],0.0,1.0)
clip_by_value

In [25]:
%%writefile younseun_input/train_data.csv
country,age,sex,height
'kr',10,'boy',120.0
'kr',10,'girl',110.0
'kr',13,'boy',150.0
'kr',13,'girl',140.0
'kr',16,'boy',170.0
'kr',16,'girl',155.0
'kr',19,'boy',180.0
'kr',19,'girl',165.0
'kr',22,'boy',182.0
'kr',22,'girl',167.0
'ca',10,'boy',122.0
'ca',10,'girl',113.0
'ca',13,'boy',153.0
'ca',13,'girl',143.0
'ca',16,'boy',173.0
'ca',16,'girl',157.0
'ca',19,'boy',182.0
'ca',19,'girl',165.0
'ca',22,'boy',185.0
'ca',22,'girl',169.0

Writing younseun_input/train_data.csv